/* Resets */

body, h1, h3, input[type="checkbox"], input[type="text"], input[type="radio"]{
    margin: 0px;
    padding: 0px;
}

/* Geral */

*{
    box-sizing: border-box;
}

body{
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

/* Header */

header h1{
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* Main */

.main{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    color: #777;
    font-size: 18px;
}

.main h3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Form */

.form_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_txt div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form_txt label{
    width: 70px;
}

.form_txt input{
    padding: 5px;
    width: 250px;
}

.form_funcao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.form_funcao span{
    margin-right: 5px;
}

.form_funcao select{
    padding: 5px;
    border-radius: 5px;
}

.form_recomendar{
    display: flex;
    justify-content: center;
}

.form_recomendar span{
    margin: 15px;
    text-align: right;
}

.form_recomendar_labels{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.form_recomendar_labels label{
    padding: 5px;
}
