/* Resets */

body, h1, h3, input[type="checkbox"], input[type="text"], input[type="radio"]{
    margin: 0px;
    padding: 0px;
}

/* Geral */

*{
    box-sizing: border-box;
}

body{
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

label{
    cursor: pointer;
}

/* Header */

header h1{
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* Main */

.main{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
}

.main h3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Form */

.form_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_txt div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form_txt label{
    width: 70px;
}

.form_txt input{
    padding: 5px;
    width: 250px;
}

.form_funcao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.form_funcao span{
    margin-right: 5px;
}

.form_funcao select{
    padding: 5px;
    border-radius: 5px;
    width: 160px;
}

.form_recomendar{
    display: flex;
    justify-content: center;
}

.form_recomendar span{
    margin: 15px;
    text-align: right;
}

.form_recomendar_opts{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 15px 0px;
}

.form_recomendar_opts div{
    padding: 5px;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + .lbl::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #777;
    margin-right: 3px;
    padding: 1px;
    background-clip: content-box;
    transition: background-color .5s linear; 
}

input[type="radio"] + .lbl::before{
    border-radius: 50%;
}

input[type="radio"]:checked + .lbl::before{
    background-color: #222;
}

.form_prefer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.form_prefer span{
    margin-right: 5px;
}

.form_prefer select{
    padding: 5px;
    border-radius: 5px;
    width: 160px;
}

.form_melhora{
    display: flex;
    justify-content: center;
}

.form_melhora span{
    margin: 15px;
}

.form_melhora div{
    margin: 15px 15px 15px 0px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + .lbl::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #777;
    margin-right: 3px;
    padding: 1px;
    background-clip: content-box;
    transition: background-color .5s linear; 
}

input[type="checkbox"]:checked + .lbl::before{
    background-color: #222;
}

.form_txtarea{
    display: flex;
    justify-content: center;
}

.form_txtarea span{
    margin: 15px;
}

.form_txtarea textarea{
    margin: 15px 15px 15px 0px;
    max-width: 260px;
    width: 100%;
    height: 70px;
    padding: 3px;
}

input[type="button"]{
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 15px auto 0 auto;
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #59ace0;
    box-shadow: 3px 3px 0 0 #59ace0,
                4px 4px 0 0 #777;
    border: 1px solid #777;
}

input[type="button"]:hover{
    box-shadow: 1px 1px 0 0 #59ace0,
                2px 2px 0 0 #777;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .form_funcao{
        flex-direction: column;
        margin: 10px;
    }

    .form_funcao span{
        margin-bottom: 10px;
    }

    .form_recomendar{
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }

    .form_recomendar span{
        text-align: center;
        margin: 10px 0 0 0;
    }

    .form_prefer{
        flex-direction: column;
        text-align: center;
        margin: 0 0 15px 0;
    }

    .form_prefer span{
        margin-bottom: 10px;
    }

    .form_melhora{
        flex-direction: column;
        text-align: center;
    }

    .form_melhora span{
        margin-bottom: 0px;
    }

    .form_txtarea{
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .form_txtarea span{
        margin: 0;
    }
}
